allow recovery app_data_file:dir { open };
allow recovery hwservice_contexts_file:file { getattr open read };
allow recovery init:dir { search };
allow recovery init:file { getattr open read };
allow recovery kernel:file { read };
allow recovery keystore_data_file:dir { open add_name getattr open read search write };
allow recovery media_rw_data_file:file { create getattr open read setattr write };
allow recovery mnt_vendor_file:dir { getattr };
allow recovery mtp_device:chr_file { open };
allow recovery recovery:capability { fsetid };
allow recovery recovery:netlink_kobject_uevent_socket { bind create};
allow recovery rootfs:dir { remove_name };
allow recovery rootfs:fifo_file { unlink };
allow recovery rootfs:file { write };
allow recovery system_radio_prop:property_service { set };
allow recovery tmpfs:fifo_file { create open read };
allow recovery anr_data_file:dir { getattr open read };
allow recovery kernel:dir { search };
allow recovery kernel:file { getattr open };
allow recovery keystore_data_file:file { open read };
allow recovery media_rw_data_file:dir { add_name getattr open read remove_name search write };
allow recovery media_rw_data_file:file { relabelfrom relabelto unlink };
allow recovery mtp_device:chr_file { read write };
allow recovery recovery:capability { sys_ptrace };
allow recovery recovery:netlink_kobject_uevent_socket { read };
allow recovery recovery:netlink_selinux_socket { bind create };
allow recovery rootfs:file { create };
allow recovery selinuxfs:dir { read };
allow recovery sysfs:file { write };
allow recovery system_data_file:file { open read };
allow recovery unencrypted_data_file:dir { getattr };
allow recovery vendor_init:file { read };
allow recovery vfat:file { getattr };
allow recovery vndservice_contexts_file:file { getattr };
allow recovery app_data_file:dir { getattr open };
allow recovery init_exec:file { getattr };
allow recovery kernel:security { compute_av };
allow recovery logd:file { read };
allow recovery mtp_device:chr_file { ioctl };
allow recovery nonplat_service_contexts_file:file { getattr };
allow recovery recovery:binder { set_context_mgr };
allow recovery seapp_contexts_file:file { getattr };
allow recovery selinuxfs:dir { open };
allow recovery selinuxfs:file { write };
allow recovery sepolicy_file:file { getattr };
allow recovery service_contexts_file:file { getattr };
allow recovery su:file { read };
allow recovery sysfs:file { getattr open read };
allow recovery ueventd:file { read };
allow recovery vendor_init:dir { search };
allow recovery vendor_init:file { open };
allow recovery vfat:dir { open read };
allow recovery app_data_file:dir { search };
allow recovery bluetooth_prop:file { getattr open };
allow recovery boottime_prop:file { getattr open };
allow recovery ctl_bootanim_prop:file { open };
allow recovery device:chr_file { ioctl open read write };
allow recovery keystore_data_file:file { getattr };
allow recovery logd:dir { search };
allow recovery ueventd:dir { search };
allow recovery ueventd:file { getattr open };
allow recovery vendor_init:file { getattr };
allow recovery app_data_file:dir { open };
allow recovery app_data_file:dir { read };
allow recovery app_data_file:dir { search };
allow recovery app_data_file:file { getattr };
allow recovery ashmem_device:chr_file { execute };
allow recovery ctl_bootanim_prop:file { getattr };
allow recovery ctl_bugreport_prop:file { getattr };
allow recovery ctl_bugreport_prop:file { open };
allow recovery ctl_console_prop:file { getattr };
allow recovery ctl_console_prop:file { open };
allow recovery hal_gatekeeper_hwservice:hwservice_manager { add };
allow recovery hal_gatekeeper_hwservice:hwservice_manager { find };
allow recovery hal_keymaster_hwservice:hwservice_manager { add };
allow recovery hal_keymaster_hwservice:hwservice_manager { find };
allow recovery hidl_base_hwservice:hwservice_manager { add };
allow recovery hidl_manager_hwservice:hwservice_manager { add };
allow recovery hidl_token_hwservice:hwservice_manager { add };
allow recovery ion_device:chr_file { ioctl };
allow recovery ion_device:chr_file { open };
allow recovery ion_device:chr_file { read };
allow recovery keystore_service:service_manager { add };
allow recovery keystore_service:service_manager { find };
allow recovery logd:file { getattr };
allow recovery logd:file { open };
allow recovery nonplat_service_contexts_file:file { open };
allow recovery nonplat_service_contexts_file:file { read };
allow recovery recovery:binder { call };
allow recovery recovery:binder { transfer };
allow recovery recovery:key { search };
allow recovery recovery:keystore_key { add_auth };
allow recovery recovery:process { execmem };
allow recovery rootfs:dir { add_name };
allow recovery rootfs:dir { write };
allow recovery rootfs:lnk_file { create };
allow recovery service_contexts_file:file { open };
allow recovery service_contexts_file:file { read };
allow recovery su:dir { search };
allow recovery su:file { getattr };
allow recovery su:file { open };
allow recovery system_wifi_keystore_hwservice:hwservice_manager { add };
allow recovery wpa_data_file:dir { getattr };
allow recovery wpa_data_file:dir { open };
allow recovery wpa_data_file:dir { read };
allow recovery wpa_data_file:file { getattr };
allow recovery app_data_file:dir { open } ;
allow recovery app_data_file:dir { search } ;
allow recovery app_data_file:lnk_file { getattr } ;
allow recovery ctl_dumpstate_prop:file { getattr } ;
allow recovery ctl_dumpstate_prop:file { open } ;
allow recovery ctl_fuse_prop:file { getattr } ;
allow recovery ctl_fuse_prop:file { open } ;
allow recovery ctl_interface_restart_prop:file { open } ;
allow recovery perfprofd_data_file:dir { getattr } ;
allow recovery perfprofd_data_file:dir { read } ;
allow recovery property_data_file:dir { getattr } ;
allow recovery property_data_file:dir { open } ;
allow recovery property_data_file:dir { read } ;
allow recovery recovery:capability { sys_time } ;
allow recovery rootfs:dir { create } ;
allow recovery shell_data_file:dir { search } ;
allow recovery sysfs:dir { open } ;
allow recovery sysfs:dir { read } ;
allow recovery sysfs_rtc:dir { search } ;
allow recovery unencrypted_data_file:dir { search } ;
allow recovery unencrypted_data_file:file { getattr } ;
allow recovery unencrypted_data_file:file { open } ;
allow recovery unencrypted_data_file:file { read } ;
allow recovery apk_private_data_file:dir { getattr } ;
allow recovery apk_private_data_file:dir { read } ;
allow recovery app_data_file:dir { open } ;
allow recovery app_data_file:dir { search } ;
allow recovery ctl_interface_restart_prop:file { getattr } ;
allow recovery ctl_interface_start_prop:file { getattr } ;
allow recovery ctl_interface_start_prop:file { open } ;
allow recovery ctl_interface_stop_prop:file { getattr } ;
allow recovery ctl_interface_stop_prop:file { open } ;
allow recovery init:key { write } ;
allow recovery kernel:system { module_request } ;
allow recovery method_trace_data_file:dir { getattr } ;
allow recovery method_trace_data_file:dir { open } ;
allow recovery method_trace_data_file:dir { read } ;
allow recovery perfprofd_data_file:dir { open } ;
allow recovery property_data_file:file { getattr } ;
allow recovery unencrypted_data_file:dir { add_name } ;
allow recovery unencrypted_data_file:dir { write } ;
allow recovery unencrypted_data_file:file { create } ;
allow recovery unencrypted_data_file:file { write } ;
allow recovery vold_data_file:dir { getattr } ;
allow recovery vold_data_file:dir { read } ;
allow recovery vold_data_file:dir { search } ;
allow recovery app_data_file:dir { open } ;
allow recovery app_data_file:dir { search } ;
allow recovery bootstat_data_file:dir { getattr } ;
allow recovery bootstat_data_file:dir { read } ;
allow recovery ctl_mdnsd_prop:file { getattr } ;
allow recovery ctl_mdnsd_prop:file { open } ;
allow recovery ctl_restart_prop:file { getattr } ;
allow recovery ctl_restart_prop:file { open } ;
allow recovery ctl_rildaemon_prop:file { open } ;
allow recovery devpts:chr_file { getattr } ;
allow recovery devpts:chr_file { ioctl } ;
allow recovery devpts:chr_file { open } ;
allow recovery devpts:chr_file { read write } ;
allow recovery incident_data_file:dir { getattr } ;
allow recovery incident_data_file:dir { open } ;
allow recovery incident_data_file:dir { read } ;
allow recovery recovery:capability { kill } ;
allow recovery system_data_file:dir { open } ;
allow recovery system_data_file:dir { read } ;
allow recovery system_data_file:file { getattr } ;
allow recovery user_profile_data_file:dir { getattr } ;
allow recovery user_profile_data_file:dir { search } ;
allow recovery vold_data_file:dir { open } ;
allow recovery vold_data_file:file { getattr } ;
allow recovery vold_data_file:file { open } ;
allow recovery vold_data_file:file { read } ;
allow recovery anr_data_file:file { getattr } ;
allow recovery apk_private_data_file:dir { open } ;
allow recovery app_data_file:dir { open } ;
allow recovery app_data_file:dir { search } ;
allow recovery bootstat_data_file:dir { open } ;
allow recovery bootstat_data_file:file { getattr } ;
allow recovery ctl_rildaemon_prop:file { getattr } ;
allow recovery ctl_sigstop_prop:file { getattr } ;
allow recovery ctl_sigstop_prop:file { open } ;
allow recovery ctl_start_prop:file { getattr } ;
allow recovery ctl_start_prop:file { open } ;
allow recovery hostapd_data_file:dir { getattr } ;
allow recovery hostapd_data_file:dir { read } ;
allow recovery radio_data_file:dir { getattr } ;
allow recovery radio_data_file:dir { open } ;
allow recovery radio_data_file:dir { read } ;
allow recovery resourcecache_data_file:dir { getattr } ;
allow recovery ringtone_file:dir { getattr } ;
allow recovery ringtone_file:dir { open } ;
allow recovery ringtone_file:dir { read } ;
allow recovery ringtone_file:file { getattr } ;
allow recovery vendor_data_file:dir { open } ;
allow recovery vendor_data_file:dir { read } ;
