allow recovery app_data_file:dir { open };
allow recovery hwservice_contexts_file:file { getattr open read };
allow recovery init:dir { search };
allow recovery init:file { getattr open read };
allow recovery kernel:file { read };
allow recovery keystore_data_file:dir { open add_name getattr open read search write };
allow recovery media_rw_data_file:file { create getattr open read setattr write };
allow recovery mnt_vendor_file:dir { getattr };
allow recovery mtp_device:chr_file { open };
allow recovery recovery:capability { fsetid };
allow recovery recovery:netlink_kobject_uevent_socket { bind create};
allow recovery rootfs:dir { remove_name };
allow recovery rootfs:fifo_file { unlink };
allow recovery tmpfs:fifo_file { create open read };
allow recovery anr_data_file:dir { getattr open read };
allow recovery kernel:dir { search };
allow recovery kernel:file { getattr open };
allow recovery keystore_data_file:file { open read };
allow recovery media_rw_data_file:dir { add_name getattr open read remove_name search write };
allow recovery media_rw_data_file:file { relabelfrom relabelto unlink };
allow recovery mtp_device:chr_file { read write };
allow recovery recovery:capability { sys_ptrace };
allow recovery recovery:netlink_kobject_uevent_socket { read };
allow recovery recovery:netlink_selinux_socket { bind create };
allow recovery rootfs:file { create };
allow recovery selinuxfs:dir { read };
allow recovery sysfs:file { write };
allow recovery system_data_file:file { open read };
allow recovery unencrypted_data_file:dir { getattr };
allow recovery vendor_init:file { read };
allow recovery vfat:file { getattr };
allow recovery vndservice_contexts_file:file { getattr };
allow recovery app_data_file:dir { getattr open };
allow recovery init_exec:file { getattr };
allow recovery kernel:security { compute_av };
allow recovery logd:file { read };
allow recovery mtp_device:chr_file { ioctl };
allow recovery nonplat_service_contexts_file:file { getattr };
allow recovery recovery:binder { set_context_mgr };
allow recovery seapp_contexts_file:file { getattr };
allow recovery selinuxfs:dir { open };
allow recovery selinuxfs:file { write };
allow recovery sepolicy_file:file { getattr };
allow recovery service_contexts_file:file { getattr };
allow recovery su:file { read };
allow recovery sysfs:file { getattr open read };
allow recovery ueventd:file { read };
allow recovery vendor_init:dir { search };
allow recovery vendor_init:file { open };
allow recovery vfat:dir { open read };
allow recovery app_data_file:dir { search };
allow recovery bluetooth_prop:file { getattr open };
allow recovery boottime_prop:file { getattr open };
allow recovery ctl_bootanim_prop:file { open };
allow recovery device:chr_file { ioctl open read write };
allow recovery keystore_data_file:file { getattr };
allow recovery logd:dir { search };
allow recovery ueventd:dir { search };
allow recovery ueventd:file { getattr open };
allow recovery vendor_init:file { getattr };
allow recovery app_data_file:dir { open };
allow recovery app_data_file:dir { read };
allow recovery app_data_file:dir { search };
allow recovery app_data_file:file { getattr };
allow recovery ashmem_device:chr_file { execute };
allow recovery ctl_bootanim_prop:file { getattr };
allow recovery ctl_bugreport_prop:file { getattr };
allow recovery ctl_bugreport_prop:file { open };
allow recovery ctl_console_prop:file { getattr };
allow recovery ctl_console_prop:file { open };
allow recovery hal_gatekeeper_hwservice:hwservice_manager { add };
allow recovery hal_gatekeeper_hwservice:hwservice_manager { find };
allow recovery hal_keymaster_hwservice:hwservice_manager { add };
allow recovery hal_keymaster_hwservice:hwservice_manager { find };
allow recovery hidl_base_hwservice:hwservice_manager { add };
allow recovery hidl_manager_hwservice:hwservice_manager { add };
allow recovery hidl_token_hwservice:hwservice_manager { add };
allow recovery ion_device:chr_file { ioctl };
allow recovery ion_device:chr_file { open };
allow recovery ion_device:chr_file { read };
allow recovery keystore_service:service_manager { add };
allow recovery keystore_service:service_manager { find };
allow recovery logd:file { getattr };
allow recovery logd:file { open };
allow recovery nonplat_service_contexts_file:file { open };
allow recovery nonplat_service_contexts_file:file { read };
allow recovery recovery:binder { call };
allow recovery recovery:binder { transfer };
allow recovery recovery:key { search };
allow recovery recovery:keystore_key { add_auth };
allow recovery recovery:process { execmem };
allow recovery rootfs:dir { add_name };
allow recovery rootfs:dir { write };
allow recovery rootfs:lnk_file { create };
allow recovery service_contexts_file:file { open };
allow recovery service_contexts_file:file { read };
allow recovery su:dir { search };
allow recovery su:file { getattr };
allow recovery su:file { open };
allow recovery system_wifi_keystore_hwservice:hwservice_manager { add };
allow recovery wpa_data_file:dir { getattr };
allow recovery wpa_data_file:dir { open };
allow recovery wpa_data_file:dir { read };
allow recovery wpa_data_file:file { getattr };
allow recovery app_data_file:dir { open } ;
allow recovery app_data_file:dir { search } ;
allow recovery app_data_file:lnk_file { getattr } ;
allow recovery ctl_dumpstate_prop:file { getattr } ;
allow recovery ctl_dumpstate_prop:file { open } ;
allow recovery ctl_fuse_prop:file { getattr } ;
allow recovery property_data_file:dir { getattr } ;
allow recovery property_data_file:dir { open } ;
allow recovery property_data_file:dir { read } ;
allow recovery recovery:capability { sys_time } ;
allow recovery rootfs:dir { create } ;
allow recovery shell_data_file:dir { search } ;
allow recovery sysfs:dir { open } ;
allow recovery sysfs:dir { read } ;
allow recovery sysfs_rtc:dir { search } ;
allow recovery unencrypted_data_file:dir { search } ;
allow recovery unencrypted_data_file:file { getattr } ;
allow recovery unencrypted_data_file:file { open } ;
allow recovery unencrypted_data_file:file { read } ;
allow recovery apk_private_data_file:dir { getattr } ;
allow recovery apk_private_data_file:dir { read } ;
allow recovery app_data_file:dir { open } ;
allow recovery app_data_file:dir { search } ;
allow recovery ctl_interface_restart_prop:file { getattr } ;
allow recovery ctl_interface_start_prop:file { getattr } ;
allow recovery ctl_interface_start_prop:file { open } ;
allow recovery ctl_interface_stop_prop:file { getattr } ;
allow recovery ctl_interface_stop_prop:file { open } ;
allow recovery init:key { write } ;
allow recovery kernel:system { module_request } ;
allow recovery method_trace_data_file:dir { getattr } ;
allow recovery method_trace_data_file:dir { open } ;
allow recovery property_data_file:file { getattr } ;
allow recovery unencrypted_data_file:dir { add_name } ;
allow recovery unencrypted_data_file:dir { write } ;
allow recovery unencrypted_data_file:file { create } ;
allow recovery unencrypted_data_file:file { write } ;
allow recovery vold_data_file:dir { getattr } ;
allow recovery vold_data_file:dir { read } ;
allow recovery vold_data_file:dir { search } ;
allow recovery app_data_file:dir { open } ;
allow recovery app_data_file:dir { search } ;
allow recovery bootstat_data_file:dir { getattr } ;
allow recovery bootstat_data_file:dir { read } ;
allow recovery ctl_mdnsd_prop:file { getattr } ;
allow recovery ctl_mdnsd_prop:file { open } ;
allow recovery ctl_restart_prop:file { getattr } ;
allow recovery ctl_restart_prop:file { open } ;
allow recovery ctl_rildaemon_prop:file { open } ;
allow recovery devpts:chr_file { getattr } ;
allow recovery devpts:chr_file { ioctl } ;
allow recovery devpts:chr_file { open } ;
allow recovery devpts:chr_file { read write } ;
allow recovery incident_data_file:dir { getattr } ;
allow recovery incident_data_file:dir { open } ;
allow recovery incident_data_file:dir { read } ;
allow recovery recovery:capability { kill } ;
allow recovery system_data_file:dir { open } ;
allow recovery system_data_file:dir { read } ;
allow recovery system_data_file:file { getattr } ;
allow recovery user_profile_data_file:dir { getattr } ;
allow recovery user_profile_data_file:dir { search } ;
allow recovery vold_data_file:dir { open } ;
allow recovery vold_data_file:file { getattr } ;
allow recovery vold_data_file:file { open } ;
allow recovery vold_data_file:file { read } ;
allow recovery anr_data_file:file { getattr } ;
allow recovery apk_private_data_file:dir { open } ;
allow recovery app_data_file:dir { open } ;
allow recovery app_data_file:dir { search } ;
allow recovery bootstat_data_file:dir { open } ;
allow recovery bootstat_data_file:file { getattr } ;
allow recovery ctl_rildaemon_prop:file { getattr } ;
allow recovery ctl_sigstop_prop:file { getattr } ;
allow recovery ctl_sigstop_prop:file { open } ;
allow recovery ctl_start_prop:file { getattr } ;
allow recovery ctl_start_prop:file { open } ;
allow recovery hostapd_data_file:dir { getattr } ;
allow recovery hostapd_data_file:dir { read } ;
allow recovery radio_data_file:dir { getattr } ;
allow recovery radio_data_file:dir { open } ;
allow recovery radio_data_file:dir { read } ;
allow recovery resourcecache_data_file:dir { getattr } ;
allow recovery ringtone_file:dir { getattr } ;
allow recovery ringtone_file:dir { open } ;
allow recovery ringtone_file:dir { read } ;
allow recovery ringtone_file:file { getattr } ;
allow recovery vendor_data_file:dir { open } ;
allow recovery vendor_data_file:dir { read } ;
allow recovery adb_data_file:dir { getattr  open  read };
allow recovery adb_data_file:file { getattr };
allow recovery adb_keys_file:dir { getattr  open  read  search };
allow recovery apc_service:service_manager { add };
allow recovery apex_data_file:dir { getattr  open  read };
allow recovery apex_module_data_file:dir { getattr  open  read  search };
allow recovery apex_ota_reserved_file:dir { getattr  open  read };
allow recovery apex_permission_data_file:dir { getattr  open  read  search };
allow recovery apex_permission_data_file:file { getattr };
allow recovery apex_rollback_data_file:dir { getattr  open  read  search };
allow recovery apex_scheduling_data_file:dir { getattr  open  read  search };
allow recovery apex_wifi_data_file:dir { getattr  open  read  search };
allow recovery apex_wifi_data_file:file { getattr };
allow recovery apexd_config_prop:file { getattr  map  open };
allow recovery apexd_prop:file { getattr  map  open };
allow recovery apk_data_file:dir { getattr  open  read };
allow recovery apk_data_file:file { getattr };
allow recovery apk_verity_prop:file { getattr  map  open };
allow recovery app_data_file:dir { getattr  open  search };
allow recovery appcompat_data_file:dir { getattr  open  read  search };
allow recovery appcompat_data_file:file { getattr };
allow recovery asec_image_file:dir { getattr  open  read };
allow recovery ashmem_libcutils_device:chr_file { execute };
allow recovery audio_config_prop:file { getattr  map  open };
allow recovery audioserver_data_file:dir { getattr  open  read  search };
allow recovery authorization_service:service_manager { add };
allow recovery backup_data_file:dir { getattr  open  read  search };
allow recovery backup_data_file:file { getattr };
allow recovery block_device:blk_file { ioctl };
allow recovery bluetooth_a2dp_offload_prop:file { getattr  map  open };
allow recovery bluetooth_audio_hal_prop:file { getattr  map  open };
allow recovery bluetooth_data_file:dir { getattr  open  read  search };
allow recovery bluetooth_data_file:file { getattr };
allow recovery bluetooth_logs_data_file:dir { getattr  open  read  search };
allow recovery bluetooth_prop:file { map };
allow recovery bootanim_config_prop:file { getattr  map  open };
allow recovery bootanim_system_prop:file { getattr  map  open };
allow recovery bootchart_data_file:dir { getattr  open  read };
allow recovery bootstat_data_file:dir { search };
allow recovery boottime_prop:file { map };
allow recovery boottime_public_prop:file { getattr  map  open };
allow recovery boottrace_data_file:dir { getattr  open  read  search };
allow recovery bpf_progs_loaded_prop:file { getattr map  open };
allow recovery build_config_prop:file { getattr  map  open };
allow recovery build_prop:file { write };
allow recovery build_prop:property_service { set };
allow recovery cache_file:lnk_file { unlink };
allow recovery camera2_extensions_prop:file { getattr  map  open };
allow recovery camera_calibration_prop:file { getattr  map  open };
allow recovery camerax_extensions_prop:file { getattr  map  open };
allow recovery charger_config_prop:file { getattr  map  open };
allow recovery charger_prop:file { getattr  map  open };
allow recovery charger_status_prop:file { getattr  map  open };
allow recovery codec2_config_prop:file { getattr  map  open };
allow recovery cold_boot_done_prop:file { getattr  map  open };
allow recovery cpu_variant_prop:file { getattr  map  open };
allow recovery credstore_data_file:dir { getattr  open  read  search };
allow recovery ctl_adbd_prop:file { getattr  map  open };
allow recovery ctl_apexd_prop:file { getattr  map  open };
allow recovery ctl_bootanim_prop:file { map };
allow recovery ctl_bugreport_prop:file { map };
allow recovery ctl_console_prop:file { map };
allow recovery ctl_default_prop:file { getattr  map  open };
allow recovery ctl_dumpstate_prop:file { map };
allow recovery ctl_fuse_prop:file { map  open };
allow recovery ctl_gsid_prop:file { getattr  map  open };
allow recovery ctl_interface_restart_prop:file { map  open };
allow recovery ctl_interface_start_prop:file { map };
allow recovery ctl_interface_start_prop:property_service { set };
allow recovery ctl_restart_prop:file { map };
allow recovery ctl_rildaemon_prop:file { map };
allow recovery ctl_sigstop_prop:file { map };
allow recovery ctl_start_prop:file { map };
allow recovery ctl_stop_prop:file { getattr  map  open };
allow recovery dalvikcache_data_file:dir { getattr  open  read  search };
allow recovery dalvikcache_data_file:file { getattr };
allow recovery dck_prop:file { getattr  map  open };
allow recovery debugfs_restriction_prop:file { getattr  map  open };
allow recovery default_prop:property_service { set };
allow recovery device:chr_file { map  setattr };
allow recovery device_logging_prop:file { getattr  map  open };
allow recovery dhcp_data_file:dir { getattr  open  read  search };
allow recovery drm_data_file:dir { getattr  open  read };
allow recovery drm_data_file:file { getattr };
allow recovery drm_service_config_prop:file { getattr  map  open };
allow recovery dropbox_data_file:dir { getattr  open  read  search };
allow recovery exported_bluetooth_prop:file { getattr  map  open };
allow recovery exported_overlay_prop:file { getattr  map  open };
allow recovery face_vendor_data_file:dir { getattr  open  read  search };
allow recovery fingerprint_vendor_data_file:dir { getattr  open  read  search };
allow recovery framework_watchdog_config_prop:file { getattr  map  open };
allow recovery gatekeeper_data_file:dir { getattr  open  read  search };
allow recovery gatekeeper_data_file:file { getattr };
allow recovery hal_dumpstate_config_prop:file { getattr  map  open };
allow recovery hal_vibrator_service:service_manager { add  find };
allow recovery heapdump_data_file:dir { getattr  open  read  search };
allow recovery heapprofd_enabled_prop:file { getattr  map  open };
allow recovery hostapd_data_file:dir { open  search };
allow recovery hostapd_data_file:file { getattr };
allow recovery hwservicemanager_prop:property_service { set };
allow recovery hypervisor_prop:file { getattr  map  open };
allow recovery input_device:chr_file { write };
allow recovery install_data_file:dir { getattr  open  read  search };
allow recovery install_data_file:file { getattr };
allow recovery iorapd_data_file:dir { getattr  open  read  search };
allow recovery keychain_data_file:dir { getattr  open  read  search };
allow recovery legacykeystore_service:service_manager { add };
allow recovery linkerconfig_file:dir { getattr };
allow recovery llkd_prop:file { getattr  map  open };
allow recovery lmkd_prop:file { getattr  map  open };
allow recovery lowpan_prop:file { getattr  map  open };
allow recovery lpdumpd_prop:file { getattr  map  open };
allow recovery media_config_prop:file { getattr  map  open };
allow recovery media_data_file:dir { getattr  open  read  search };
allow recovery media_rw_data_file:dir { create };
allow recovery media_variant_prop:file { getattr  map  open };
allow recovery method_trace_data_file:dir { read  search };
allow recovery misc_logd_file:dir { getattr  open  read  search };
allow recovery misc_logd_file:file { getattr };
allow recovery misc_user_data_file:dir { getattr  open  read  search };
allow recovery mm_events_config_prop:file { getattr  map  open };
allow recovery mmc_prop:file { getattr  map  open };
allow recovery oem_unlock_prop:file { getattr  map  open };
allow recovery ota_data_file:dir { getattr  open  read };
allow recovery ota_package_file:dir { getattr  open  read };
allow recovery overlay_prop:file { getattr  open };
allow recovery recovery:capability { sys_rawio };
allow recovery recovery_data_file:dir { getattr  open  read  search };
allow recovery recovery_data_file:file { getattr };
allow recovery resourcecache_data_file:dir { open  read };
allow recovery resourcecache_data_file:file { getattr };
allow recovery retaildemo_prop:file { open };
allow recovery rootfs:fifo_file { create  open  read };
allow recovery rootfs:file { write };
allow recovery server_configurable_flags_data_file:dir { getattr  open  read };
allow recovery service_manager_service:service_manager { add };
allow recovery service_manager_vndservice:service_manager { add };
allow recovery shared_relro_file:dir { getattr  open  read  search };
allow recovery shared_relro_file:file { getattr };
allow recovery shell_data_file:dir { getattr  open  read };
allow recovery shell_test_data_file:dir { getattr  open  read  search };
allow recovery shortcut_manager_icons:dir { getattr  open  read  search };
allow recovery shortcut_manager_icons:file { getattr };
allow recovery snapshotctl_log_data_file:dir { getattr  open  read  search };
allow recovery staging_data_file:dir { getattr  open  read };
allow recovery staging_data_file:file { getattr };
allow recovery stats_data_file:dir { getattr  open  read  search };
allow recovery surfaceflinger_display_prop:file { open };
allow recovery system_app_data_file:dir { getattr  open  read  search };
allow recovery system_app_data_file:file { getattr };
allow recovery system_data_file:dir { getattr  read };
allow recovery system_data_root_file:dir { ioctl  open  read };
allow recovery system_data_root_file:file { getattr };
allow recovery system_ndebug_socket:sock_file { getattr };
allow recovery system_unsolzygote_socket:sock_file { getattr };
allow recovery systemkeys_data_file:dir { getattr  open  read  search };
allow recovery test_boot_reason_prop:file { open };
allow recovery textclassifier_data_file:dir { getattr  open  read  search };
allow recovery textclassifier_data_file:file { getattr };
allow recovery tombstone_data_file:dir { getattr  open  read };
allow recovery tombstone_data_file:file { getattr };
allow recovery trace_data_file:dir { getattr  open  read  search };
allow recovery unlabeled:fifo_file { getattr };
allow recovery update_engine_data_file:dir { getattr  open  read  search };
allow recovery update_engine_log_data_file:dir { getattr  open  read  search };
allow recovery user_profile_data_file:dir { open  read };
allow recovery user_profile_data_file:file { getattr };
allow recovery user_profile_root_file:dir { getattr  open  read  search };
allow recovery userspace_reboot_exported_prop:file { open };
allow recovery vendor_default_prop:property_service { set };
allow recovery vendor_security_patch_level_prop:file { open };
allow recovery vold_status_prop:property_service { set };
allow recovery vpn_data_file:dir { getattr  open  read  search };
allow recovery wallpaper_file:file { getattr };
allow recovery wpa_data_file:dir { search };
allow recovery wpa_data_file:sock_file { getattr };
allow recovery wpa_socket:dir { getattr  open  read  search };
allow recovery zram_config_prop:file { open };